.footer {
    padding: 250px 0 120px 0;
  
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 0;
    }
  
    &-item {
      h3,h1,span,a{
        z-index: 10;
      }
      h3 {
        font-family: 'Mazzard';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #AAAAAA;
      }
  
      h1 {
        font-family: 'Mazzard';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        color: #FFFFFF;
        opacity: 0.9;
      }
  
      span {
        background: linear-gradient(89.95deg, #487FFF -1.65%, #73B5FF 51.06%, #CB76FF 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
  
      a {
        font-family: 'Mazzard';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #AAAAAA;
        text-decoration: none;
      }
  
      background: rgba(0, 0, 0, 0.25);
      border-radius: 46px;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.35),
      0px 0px 4px 0px #fff;
      padding: 5%;
      height: 90%;
      width: 90%;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
  
      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        border-radius: 46px;
        backdrop-filter: blur(12px);
      }
    }
  
    .footer-left {
      display: flex;
      align-items: flex-end;
      height: 700px;
  
      .footer-item {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        a{
          margin-bottom: 5%;
        }
      }
  
      &-bg {
        left: 0;
        top: 0;
        position: absolute;
  
        img {
          object-fit: contain;
          height: 100%;
          width: 100%;
          border-radius: 46px;
        }
      }
    }
  
    .footer-right {
      display: flex;
      flex-direction: column;
      gap: 40px;
  
      .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
      }
  
      .bottom {
        height: 100%;
        width: 100%;
  
        .footer-bottom-bg {
          right: 0;
          top: 0;
          position: absolute;
  
          img {
            height: 100%;
            width: 100%;
            border-radius: 46px;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .footer{
      .container{
        flex-direction: column;
        .footer-left{
          height: 100%;
        }
        .footer-right{
          .top{
            flex-direction: column;
          }
        }
      }
    }
  }